<!--
templateType: membership_reset_request_page
isAvailableForNewContent: true
screenshotPath: ../../assets/images/covers/cover-membership-password-reset-request.jpg
label: Reset password request
-->

{% extends "../../assets/layouts/base.html" %}

{% block body %}
{% set contentSettings = widget_data.system_settings.membership_reset_password_request %}
{% set styleSettings = widget_data.system_settings.style.membership_reset_password_request %}

<div class="container-fluid system-page">
  <div class="row-fluid-wrapper">
    <div class="row-fluid">
      <div class="widget-span">
        <div class="dnd-section row-depth-1{% if contentSettings.background_color != "no" %} {{ contentSettings.background_color|replace("_", "-") ~ "-bg" }}{% endif %} flex-grow d-flex flex-flow-column justify-content-xs-center align-items-xs-center error-page {{ contentSettings.text_alignment }}" data-error="500">
          <div class="row-fluid align-items-xs-center flex-flow-column{% if contentSettings.text_block_size > 6 && contentSettings.visual_block_size > 6 %} flex-flow-md-column{% else %} flex-flow-md-row-wrap{% endif %}">
            <div class="span{{ contentSettings.text_block_size }} columns dnd-column">
              <div class="dnd-row">
                <div class="row-fluid">
                  <div class="span12 columns">
                    {% module "content" path='../../modules/custom-rich-text', 
                    html={{ contentSettings.content }}
                    style={
                      'xs': {
                        'top_spacing': 0,
                        'bottom_spacing': 0,
                        'left_spacing': 0,
                        'right_spacing': 0,
                        'text_alignment': 'center'
                      },
                      'md': {
                        'top_spacing': 150,
                        'bottom_spacing': 0,
                        'left_spacing': 0,
                        'right_spacing': 0,
                        'text_alignment': 'left'
                      },
                      'xl': {
                        'top_spacing': 0,
                        'bottom_spacing': 50,
                        'left_spacing': 0,
                        'right_spacing': 0,
                        'text_alignment': 'left'
                      }
                    }
                  %}

                  </div>
                </div>
              </div>
              <div class="dnd-row">
                <div class="row-fluid">
                  <div class="span12 columns">
                    <div class="form-container mb-4 pt-8 pb-8 ps-4 pe-4 white-bg rounded box-shadow">
                      {% password_reset_request "password_reset_request"
                        email_label= "{{ contentSettings.email_label }}",
                        password_label= "{{ contentSettings.password_label }}",
                        remember_me_label= "{{ contentSettings.remember_me_label }}",
                        reset_password_text= "{{ contentSettings.reset_password_text }}",
                        submit_button_text= "{{ contentSettings.submit_button_text }}"
                        %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="dnd-row">
                <div class="row-fluid">
                  <div class="span12 columns">
                    {% module "content" path='../../modules/custom-rich-text', 
                    html={{ contentSettings.trouble_text }}
                    style={
                      'xs': {
                        'top_spacing': 0,
                        'bottom_spacing': 0,
                        'left_spacing': 0,
                        'right_spacing': 0,
                        'text_alignment': 'center'
                      },
                      'md': {
                        'top_spacing': 150,
                        'bottom_spacing': 0,
                        'left_spacing': 0,
                        'right_spacing': 0,
                        'text_alignment': 'left'
                      },
                      'xl': {
                        'top_spacing': 0,
                        'bottom_spacing': 50,
                        'left_spacing': 0,
                        'right_spacing': 0,
                        'text_alignment': 'left'
                      }
                    }
                  %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}