<!--
templateType: password_prompt_page
isAvailableForNewContent: true
screenshotPath: ../../assets/images/covers/cover-password-prompt.jpg
label: Password prompt
-->

{% extends "../../assets/layouts/base.html" %}

{% block body %}
{% set contentSettings = widget_data.system_settings.password_prompt %}
{% set styleSettings = widget_data.system_settings.style.password_prompt %}

<div class="container-fluid system-page">
  <div class="row-fluid-wrapper">
    <div class="row-fluid">
      <div class="widget-span">
        <div class="dnd-section row-depth-1{% if contentSettings.background_color != "no" %} {{ contentSettings.background_color|replace("_", "-") ~ "-bg" }}{% endif %} flex-grow d-flex flex-flow-column justify-content-xs-center align-items-xs-center error-page {{ contentSettings.text_alignment }}" data-error="500">
          <div class="row-fluid align-items-xs-center flex-flow-column{% if contentSettings.text_block_size > 6 && contentSettings.visual_block_size > 6 %} flex-flow-md-column{% else %} flex-flow-md-row-wrap{% endif %}">
            <div class="span{{ contentSettings.text_block_size }} columns dnd-column">
              <div class="dnd-row">
                <div class="row-fluid">
                  <div class="span12 columns">
                    {% module "content" path='../../modules/custom-rich-text', 
                    html={{ contentSettings.content }}
                    style={
                      'xs': {
                        'top_spacing': 0,
                        'bottom_spacing': 0,
                        'left_spacing': 0,
                        'right_spacing': 0,
                        'text_alignment': 'center'
                      },
                      'md': {
                        'top_spacing': 150,
                        'bottom_spacing': 0,
                        'left_spacing': 0,
                        'right_spacing': 0,
                        'text_alignment': 'left'
                      },
                      'xl': {
                        'top_spacing': 0,
                        'bottom_spacing': 50,
                        'left_spacing': 0,
                        'right_spacing': 0,
                        'text_alignment': 'left'
                      }
                    }
                  %}
                  </div>
                </div>
              </div>
              <div class="dnd-row">
                <div class="row-fluid">
                  <div class="span12 columns">
                    <div class="form-container mb-4 pt-8 pb-8 ps-7 pe-7 white-bg rounded box-shadow">
                        {% module "password_prompt"
                        extra_classes="password-prompt",
                        path="@hubspot/password_prompt"
                        submit_button_text="{{ contentSettings.submit_button_text }}",
                        password_placeholder="{{ contentSettings.password_placeholder }}",
                        bad_password_message="{{ contentSettings.bad_password_message }}"
                      %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}