form .actions .hs-button,
form .actions input[type="submit"],
.hs-search-field form button {
	background-color: {{ theme.forms.button.background_color }};
	border: 1px solid {{ theme.forms.button.border_color }};
	color: {{ theme.forms.button.color }};
	margin-bottom: 0;
	pointer-events: initial;
}

form .actions .hs-button:not([class*='-hover-color']):hover,
form .actions input[type="submit"]:not([class*='-hover-color']):hover,
.hs-search-field form button:not([class*='-hover-color']):hover {
	color: {{ theme.forms.button.hover_color }};
}

form .actions .hs-button:not([class*='-hover-bg']):hover,
form .actions input[type="submit"]:not([class*='-hover-bg']):hover,
.hs-search-field form button:not([class*='-hover-bg']):hover {
	background-color: {{ theme.forms.button.hover_background_color }};
}

form .actions .hs-button:not([class*='-hover-border-color']):hover,
form .actions input[type="submit"]:not([class*='-hover-border-color']):hover,
.hs-search-field form button:not([class*='-hover-border-color']):hover {
	border: 1px solid {{ theme.forms.button.hover_border_color }};
}

form {
	margin-left: {{ theme.layout.xs.columns_gap / -2 ~ "px" }};    
	margin-right: {{ theme.layout.xs.columns_gap / -2 ~ "px" }};
}

form div.hs-input {
	min-width: 100%;
}

form .input {
	margin-right: 0;
}

form .hs-fieldtype-intl-phone.hs-input {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-left: {{ theme.layout.md.columns_gap / -2 ~ "px" }};    
	margin-right: {{ theme.layout.md.columns_gap / -2 ~ "px" }};
	width: auto !important;
}

form .hs-fieldtype-intl-phone.hs-input > select, 
form .hs-fieldtype-intl-phone.hs-input > input {
	margin-left: {{ theme.layout.xs.columns_gap / 2 ~ "px" }};    
	margin-right: {{ theme.layout.xs.columns_gap / 2 ~ "px" }};
}

form .hs-fieldtype-intl-phone.hs-input > select {
	width: calc(33% - {{ theme.layout.xs.columns_gap ~ "px" }});
	flex: 0 0 calc(33% - {{ theme.layout.xs.columns_gap ~ "px" }});
	min-width: auto;
}

form .hs-fieldtype-intl-phone.hs-input > input {
	width: calc(67% - {{ theme.layout.xs.columns_gap ~ "px" }});
	flex: 0 0 calc(67% - {{ theme.layout.xs.columns_gap ~ "px" }});    
	min-width: auto;
}

form fieldset, 
form .hs-dependent-field,
form .hs-fieldtype-radio {
	min-width: 100%;
	display: flex;
	flex-flow: row wrap;
}

form fieldset .hs-fieldtype-radio, form fieldset .hs-fieldtype-radio .input ul {
	display: inline-flex;
	flex-flow: row wrap;
}

form fieldset .hs-fieldtype-radio .input ul li{
	margin-right: {{ theme.layout.xs.columns_gap * 2 ~ "px" }};    
}

form label[for*="password"],
form label[for*="password-confirm"] {
	float: left;
}

form a[class*="show-password"] {
	float: right;
	font-size: small;
}

form .hs-form-field.hs_recaptcha {
	display: none;
}

form .legal-consent-container,
form .hs-richtext.hs-main-font-element,
form .hs-form-field,
form .form-input-validation-message,
.system-page .hs-membership-loader,
.system-page form > div, 
form .hs-submit {
	padding-left: {{ theme.layout.xs.columns_gap / 2 ~ "px" }};    
	padding-right: {{ theme.layout.xs.columns_gap / 2 ~ "px" }};
}

form > .hs-button {
	margin-left: {{ theme.layout.xs.columns_gap / 2 ~ "px" }};    
	margin-right: {{ theme.layout.xs.columns_gap / 2 ~ "px" }};
}

@media (min-width: {{ theme.layout.xs.breakpoint ~ "px" }}) {
	form .form-columns-2 .hs-form-field {
		min-width: 50%;
	}

	form .form-columns-3 .hs-form-field {
		min-width: 33.333333%;
	}
}

@media (min-width: {{ theme.layout.md.breakpoint ~ "px" }}) {
	form {
		margin-left: {{ theme.layout.md.columns_gap / -2 ~ "px" }};    
		margin-right: {{ theme.layout.md.columns_gap / -2 ~ "px" }};
	}

	form .legal-consent-container,
	form .hs-richtext.hs-main-font-element,
	form .hs-form-field,
	form .form-input-validation-message,
	.system-page .hs-membership-loader,
	.system-page form > div, 
	form .hs-submit {
		padding-left: {{ theme.layout.md.columns_gap / 2 ~ "px" }};
		padding-right: {{ theme.layout.md.columns_gap / 2 ~ "px" }};
	}

	form > .hs-button {
		margin-left: {{ theme.layout.md.columns_gap / 2 ~ "px" }};    
		margin-right: {{ theme.layout.md.columns_gap / 2 ~ "px" }};
	}

	form .hs-fieldtype-intl-phone.hs-input {
		margin-left: {{ theme.layout.md.columns_gap / -2 ~ "px" }};    
		margin-right: {{ theme.layout.md.columns_gap / -2 ~ "px" }};
	}

	form .hs-fieldtype-intl-phone.hs-input > select, 
	form .hs-fieldtype-intl-phone.hs-input > input {
		margin-left: {{ theme.layout.md.columns_gap / 2 ~ "px" }};    
		margin-right: {{ theme.layout.md.columns_gap / 2 ~ "px" }};
	}

	form .hs-fieldtype-intl-phone.hs-input > select {
		width: calc(33% - {{ theme.layout.md.columns_gap ~ "px" }});
		flex: 0 0 calc(33% - {{ theme.layout.md.columns_gap ~ "px" }});
	}

	form .hs-fieldtype-intl-phone.hs-input > input {
		width: calc(67% - {{ theme.layout.md.columns_gap ~ "px" }});
		flex: 0 0 calc(67% - {{ theme.layout.md.columns_gap ~ "px" }});    
	}
}


@media (min-width: {{ theme.layout.xl.breakpoint ~ "px" }}) {
	form {
		margin-left: {{ theme.layout.xl.columns_gap / -2 ~ "px" }};    
		margin-right: {{ theme.layout.xl.columns_gap / -2 ~ "px" }};
	}

	form .legal-consent-container,
	form .hs-richtext.hs-main-font-element,
	form .hs-form-field,
	form .form-input-validation-message,
	.system-page .hs-membership-loader,
	.system-page form > div, 
	form .hs-submit {
		padding-left: {{ theme.layout.xl.columns_gap / 2 ~ "px" }};
		padding-right: {{ theme.layout.xl.columns_gap / 2 ~ "px" }};
	}

	form > .hs-button {
		margin-left: {{ theme.layout.xl.columns_gap / 2 ~ "px" }};    
		margin-right: {{ theme.layout.xl.columns_gap / 2 ~ "px" }};
	}
	form .hs-fieldtype-intl-phone.hs-input {
		margin-left: {{ theme.layout.md.columns_gap / -2 ~ "px" }};    
		margin-right: {{ theme.layout.md.columns_gap / -2 ~ "px" }};
	}

	form .hs-fieldtype-intl-phone.hs-input > select, 
	form .hs-fieldtype-intl-phone.hs-input > input {
		margin-left: {{ theme.layout.xl.columns_gap / 2 ~ "px" }};    
		margin-right: {{ theme.layout.xl.columns_gap / 2 ~ "px" }};
	}

	form .hs-fieldtype-intl-phone.hs-input > select {
		width: calc(33% - {{ theme.layout.xl.columns_gap ~ "px" }});
		flex: 0 0 calc(33% - {{ theme.layout.xl.columns_gap ~ "px" }});
	}

	form .hs-fieldtype-intl-phone.hs-input > input {
		width: calc(67% - {{ theme.layout.xl.columns_gap ~ "px" }});
		flex: 0 0 calc(67% - {{ theme.layout.xl.columns_gap ~ "px" }});    
	}
}

form h1, 
form h2, 
form h3,
form h4,
form h5,
form h6,
.form-title{
	color: {{ theme.forms.title.color }};
}

form .hs-form-field {
	box-sizing: border-box;
	min-width: 100%;
	width: 100%;
	position: relative;
	float: none;
}

form .legal-consent-container .hs-form-field {
	padding-left: 0;  
	padding-right: 0;
}

.hs-form-field ::placeholder {
	color: {{ theme.forms.fields.placeholder_color }};
}

form label,
.system-page .fakelabel {
	color: {{ theme.forms.labels.color }};
	display: block;
}

.system-page .fakelabel {
	margin-bottom: 0;
}

.system-page .fakelabel input,
.system-page .fakelabel input:active,
.system-page .fakelabel input:checked {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	margin: 0;
	background-color: transparent;
	z-index: 2;
	cursor: pointer;
	box-shadow: none;
	outline: none;
}

.system-page .fakelabel input + span:after {
	content: "";
	height: 30px;
	border-radius: 50px;
	left: 16px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	background-color: {{ theme.colors.white.color }};
	box-shadow: inset 0 0 0 1px {{ theme.colors.gray.color }};
	z-index: 1;
	pointer-events: none;
}

.system-page .fakelabel input + span:before {
	content: '';
	position: absolute;
	top: 50%;
	left: {{ theme.layout.spacing_base * 6 ~ "px" }};
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
	background-color: {{ theme.colors.fourth.color }};
	border-radius: 50%;
	z-index: 2;
	pointer-events: none;
	transition:
		background-color 250ms ease-in-out,
		left 250ms ease-in-out;
}

.system-page .fakelabel input:checked + span:before {
	background-color: {{ theme.colors.fifth.color }};
	left: {{ theme.layout.spacing_base * 12 ~ "px" }};
}

form legend {
	color: {{ theme.forms.help_text.color }};
	display: block;
}

/* form label + .input input:not([type=checkbox]):not([type=radio]),
form legend + .input input:not([type=checkbox]):not([type=radio]),
form label ~ input:not([type=checkbox]):not([type=radio]),
form legend ~ input:not([type=checkbox]):not([type=radio]),
form .hs-form-field.hs-fieldtype-select label + .input,
form .hs-form-field.hs-fieldtype-select legend + .input,
form .hs-form-field.hs-fieldtype-select label ~ .input,
form .hs-form-field.hs-fieldtype-select legend ~ .input,
form .hs-form-field .hs-dateinput,
form .hs-form-field, 
form .legal-consent-container,
.hs_cos_wrapper_type_password_prompt input:not([type=submit]),
.system-page input#hs-pwd-widget-password,
.system-page.backup-unsubscribe input {
min-height: {# theme.layout.spacing_base * 14 ~ 'px' #};
} */

form .hs-form-field, 
form .legal-consent-container,
.hs_cos_wrapper_type_password_prompt input:not([type=submit]),
.system-page input#hs-pwd-widget-password,
.system-page.backup-unsubscribe input {
	margin-bottom: {{ theme.typography.xs.body_font.font_size ~ "px" }};
}

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
	display: inline-block;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	outline: none;
	color: {{ theme.forms.fields.color }};
	background-color: {{ theme.forms.fields.background_color }};
	box-sizing: border-box;
	border-radius: {{ theme.forms.fields.border_radius ~ 'px' }};
	border-width: {{ theme.forms.fields.top_border_width ~ "px" }} {{ theme.forms.fields.right_border_width ~ "px" }} {{ theme.forms.fields.bottom_border_width ~ "px" }} {{ theme.forms.fields.left_border_width ~ "px" }};
	border-style: solid;
	border-color: {{ theme.forms.fields.border_color }};
	{{ theme.forms.fields.spacing.css }}
	transition: border-color 0.25s ease-in-out;
}

form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=tel]:focus,
form input[type=number]:focus,
form input[type=file]:focus,
form select:focus,
form textarea:focus,
form input[type=text]:focus-within,
form input[type=email]:focus-within,
form input[type=password]:focus-within,
form input[type=tel]:focus-within,
form input[type=number]:focus-within,
form input[type=file]:focus-within,
form select:focus-within,
form textarea:focus-within,
form input[type=text].focus-visible,
form input[type=email].focus-visible,
form input[type=password].focus-visible,
form input[type=tel].focus-visible,
form input[type=number].focus-visible,
form input[type=file].focus-visible,
form select.focus-visible,
form textarea.focus-visible {
	border-color: {{ theme.forms.fields.focus_border_color }};
}

form .hs-form-radio-display,
form .hs-form-booleancheckbox-display {
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
}

form input[type="radio"],
form input[type="checkbox"] {
	width: {{ theme.typography.xs.body_font.font_size ~ "px" }};
	min-width: {{ theme.typography.xs.body_font.font_size ~ "px" }};
	height: {{ theme.typography.xs.body_font.font_size ~ "px" }};
	display: inline-block;
	-webkit-appearance: none;
	margin: 0;
	appearance: none;
	background-color: {{ theme.colors.white.color }};
	border: 1px solid {{ theme.typography.xs.body_font.font.color }};
	transition: box-shadow 0.25s ease-in-out;
	margin-right: {{ theme.layout.spacing_base * 2 ~ "px" }};
	position: relative;
	top: calc({{theme.layout.spacing_base ~ 'px' }} / 2);
}

form input[type="radio"] ~ span,
form input[type="checkbox"] ~ span,
form input[type="radio"] ~ p,
form input[type="checkbox"] ~ p {
	{{ base_font_styles }}
}

form input[type="radio"] + label, form input[type="checkbox"] + label {
	display: inline-block;
}

form input[type="radio"]:checked,
form input[type="checkbox"]:checked {
	box-shadow: inset 0 0 0 calc({{ theme.typography.xs.body_font.font_size ~ "px" }} / 5) {{ theme.colors.white.color }};
	background-color: {{ theme.colors.first.color }};
	border: 1px solid {{ theme.colors.first.color }};
}

form input[type="radio"]:active,
form input[type="checkbox"]:active {
	box-shadow: inset 0 0 0 calc({{ theme.typography.xs.body_font.font_size ~ "px" }} / 5) {{ theme.colors.white.color }};
	background-color: {{ theme.colors.first.color }};
	border: 1px solid {{ theme.colors.first.color }};
}


form input[type="radio"] {
	border-radius: 50%;
}

form input[disabled] {
	background-color: {{ theme.colors.gray.color }};
	color: {{ theme.colors.gray.color }};
}

form .hs-form-field > .input {
	margin: 0;
	width: 100%;
}

form .hs-form-field .hs-dateinput {
	position: relative;
}

form .hs-form-field .hs-dateinput input:not([type=checkbox]):not([type=radio]){
	margin-top: 0;
}

form .hs-form-field .hs-dateinput:before {
	content:'\01F4C5';
	position: absolute;
	top: 50%;
	right: 0;
	width: calc({{theme.layout.spacing_base ~ 'px' }} * 8);
	transform: translateY(-50%);
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.fn-date-picker .pika-table thead th {
	color: {{ theme.colors.white.color }};
}

.fn-date-picker td.is-selected .pika-button {
	border-radius: 0;
	box-shadow: none;
}

.fn-date-picker td .pika-button:hover,
.fn-date-picker td .pika-button:focus {
	border-radius: 0;
	color: {{ theme.colors.white.color }};
}

form .hs-form-field.hs-fieldtype-select {
	display: flex;
	flex-flow: column;
}

form .hs-form-field.hs-fieldtype-select .input {
	flex: 1 1 auto;
}

form .hs-form-field.hs-fieldtype-select .input select {
	margin-bottom: 0;
	height: 100%;
}

form .hs-richtext img {
	max-width: 100%;
}

.legal-consent-container .hs-form-booleancheckbox-display > span,
.legal-consent-container .hs-form-booleancheckbox-display > span p {
	margin-left: 0;
}

.hs-form-required {
	color: {{ theme.colors.fourth.color }};
}

.hs-input.invalid.error {
	border-color: {{ theme.colors.fourth.color }};
}

form .hs-error-msg,
form .hs-error-msgs,
form .hs-error-msg label,
form .hs-error-msgs label {
	color: {{ theme.colors.fourth.color }};
	margin-top: {{ theme.layout.spacing_base ~ "px" }};
}

main .hs-common-confirm-message {
	color: {{ theme.colors.fifth.color }};
	background-color: transparent;
	border: none;
	padding: 0;
	font-weight: 600;
	font-size: inherit;
	line-height: inherit;
	margin-top: {{ theme.typography.xs.body_font.font_size ~ "px" }};
	margin-bottom: {{ theme.typography.xs.body_font.font_size ~ "px" }};
	text-align: center;
}

form .actions input[type="submit"],
form .actions .hs-button {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	transition: all 0.15s linear;
	white-space: normal;
}

.grecaptcha-badge {
	margin: 0 auto;
}

.hs-search-field form {
	margin-left: 0;
	margin-right: 0;
	position: relative;
	display: flex;
	flex-flow: row wrap;
}

.hs-search-field form label {
	flex: 0 0 100%;
	margin-bottom: {{ theme.layout.spacing_base * 2 ~ 'px' }};
}

.hs-search-field form label ~ input:not([type=checkbox]):not([type=radio]) {
	margin-bottom: 0;
}

.hs-search-field form input,
.hs-search-field form button {
	flex: 1 1 auto;
	min-width: initial;
	max-width: calc(100% - {{ (theme.layout.spacing_base * 12) + (theme.layout.spacing_base * 3) ~ 'px' }});
	width: initial;
	border-radius: {{ theme.layout.spacing_base * 12 ~ 'px' }};
}

.hs-search-field .hs-search-field__bar button {
	min-width: {{ theme.layout.spacing_base * 10 ~ 'px' }};
	padding: 0;
	border-radius: 50%;
}

.hs-search-field .hs-search-field__bar button svg {
	max-width: {{ theme.layout.spacing_base * 3 ~ 'px' }};
}

.hs-search-field form input {
	margin-right: {{ theme.layout.spacing_base * 3 ~ 'px' }};
}

.hs-search-field form button {
	max-width: {{ theme.layout.spacing_base * 14 ~ 'px' }};
	width: 100%;
	padding: {{ theme.layout.spacing_base ~ 'px' }} {{ theme.layout.spacing_base * 2 ~ 'px' }} {{ theme.layout.spacing_base ~ 'px' }} {{ theme.layout.spacing_base ~ 'px' }};
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.hs-search-field form button svg {
	height: 100%;
	transform: initial;
}

.hs-search-field .dnd-row {
	width: 100%;
}

.system-page form {
	margin-left: 0;
	margin-right: 0;
	position: relative;
}

.system-page #hs_cos_wrapper_subscription_preferences_email_subscriptions {
	text-align: center;
}

.system-page #hs_cos_wrapper_subscription_preferences_email_subscriptions .header {
	background: transparent;
	border-bottom: none;
	box-shadow: none;
	padding: 0;
	margin-top: 1rem;
}

.system-page form a#hs_login_reset {
	margin-bottom: {{ theme.layout.xs.columns_gap / 2 ~ "px" }};
	display: inline-block;
	{{ theme.typography.xs.body_font.font.css }} 
	{{ theme.buttons.spacing.css }}
	border-radius: {{ theme.buttons.radius ~ 'px' }};
	text-transform: {{ theme.buttons.transform }};
	text-decoration: none;
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	box-sizing: border-box;
	text-align: center;
	white-space: nowrap;
	transition: opacity 0.25s ease-in-out,
		color 0.25s ease-in-out,
		background-color 0.25s ease-in-out,
		border-color 0.25s ease-in-out;
	width: calc(100% - {{ theme.layout.xs.columns_gap ~ "px" }});
	color: {{ theme.colors.black.color }};
	background-color: {{ theme.colors.gray.color }};
	border: 1px solid {{ theme.colors.gray.color }};
}

.system-page form > input[type='submit'] {
	width: 100%;
	margin: 0;
}

form[action*="login"] .hs-membership-loader,
.system-page form[action*="login"] .hs-membership-loader.hs-submit {
	padding-bottom: 0;
}

.system-page .hs-membership-loader .hs-button {
	width: 100%;
}

form[action*="login"] .hs-membership-loader {
	{% for item, value in theme.buttons.spacing.items() %}
	{% if loop.first %}
	padding-bottom: calc({% for spacing in value %} ({{ (spacing.value|int) * 0.5 }}{{ spacing.units }} * 2){% if not loop.last %} + {% endif %}{% endfor %});
	{% endif %}
	{% endfor %}
}

.system-page form a#hs_login_reset:hover {
	color: {{ theme.forms.button.hover_color }};
	background-color: {{ theme.forms.button.hover_background_color }};
	border: 1px solid {{ theme.forms.button.hover_border_color }};
}

.system-page input#hs-pwd-widget-password,
.system-page.backup-unsubscribe input {
	margin-top: 0;
	max-width: 100%;
	min-width: 100%;
	position: relative;
	display: block;
}

#hs_cos_wrapper_backup_unsubscribe_email_simple_subscription #email-prefs-form input:not([type="submit"]) {
	min-height: {{ theme.layout.spacing_base * 11 ~ "px" }};
	margin-bottom: {{ theme.layout.spacing_base * 2 ~ "px" }};
}

.system-page form .email-prefs .item {
	position: relative;
	padding: {{ theme.layout.spacing_base * 4 ~ "px" }} {{ theme.layout.spacing_base * 4 ~ "px" }} {{ theme.layout.spacing_base * 4 ~ "px" }} {{ theme.layout.spacing_base * 23 ~ "px" }};
	background-color: {{ theme.colors.first_accent.color }};
	border-radius: {{ theme.layout.spacing_base ~ "px" }};
	text-align: left;
}

.system-page form .email-prefs .item p {
	margin-top: calc({{ theme.typography.xs.body_font.line_height }} / 2);
	margin-bottom: 0;
}

.system-page form .email-prefs > .item:not(:first-child) {
	margin-top: {{ theme.layout.spacing_base * 4 ~ "px" }};
}

.system-page #email-prefs-form .page-header {
	font-size: {{ theme.typography.xs.body_font.font_size ~ 'px' }};
	line-height: {{ theme.typography.xs.body_font.line_height ~ 'px' }};
}

.system-page #email-prefs-form .page-header h2 {
	font-size: 24px;
	line-height: 1.4;
	margin-bottom: 0;
}

@media (min-width: {{ theme.layout.md.breakpoint ~ 'px' }}) {
	.system-page #email-prefs-form .page-header {
		font-size: {{ theme.typography.md.body_font.font_size ~ 'px' }};
		line-height: {{ theme.typography.md.body_font.line_height ~ 'px' }};
	}
}

@media (min-width: {{ theme.layout.xl.breakpoint ~ "px" }}) {
	.system-page #email-prefs-form .page-header {
		font-size: {{ theme.typography.xl.body_font.font_size ~ 'px' }};
		line-height: {{ theme.typography.xl.body_font.line_height ~ 'px' }};
	}
}

.system-page .subscribe-options {
	margin-top: 20px;
	margin-bottom: 20px;
}
