<!--
templateType: page
isAvailableForNewContent: false
-->

{% macro createButtonHTML(content, style, extraClasses, customUrl) %}
{% set href = content.url.url.href || customUrl %}
{% if content.url.url.type is equalto "EMAIL_ADDRESS" %}
{% set href = "mailto:" + href %}
{% endif %}

<a href="{% if href %}{{ href }}{% else %}javascript:;{% endif%}"
   {%- if content.url.open_in_new_tab %} target="_blank"{% endif -%}
   {%- if content.url.rel %} rel="{{ content.url.rel }}"{% endif %}
   class="button{{ style.make_button_small ? ' button--small' : '' }} {{ extraClasses ? ' ' ~ extraClasses : '' }} d-inline-flex align-items-xs-center justify-content-xs-center
          {%- if style.color && style.color != "default" %} {{ style.color|replace("_", "-") ~ "-color" }} {%- if content.show_arrow == 'true' %} {{ style.color|replace("_", "-") ~ "-fill" }}{% endif %}{% endif %}
          {%- if style.hover_color && style.hover_color != "default"  %} {{ style.hover_color|replace("_", "-") ~ "-hover-color" }} {%- if content.show_arrow == 'true' %} second-hover-fill{% endif %}{% endif %}
          {%- if style.background_color && style.background_color != "default"  %} {{ style.background_color|replace("_", "-") ~ "-bg" }}{% endif %}
          {%- if style.border_color && style.border_color != "default"  %} border-thin border-solid {{ style.border_color|replace("_", "-") ~ "-border-color" }}{% endif %}
          {%- if style.hover_background_color && style.hover_background_color != "default"  %} {{ style.hover_background_color|replace("_", "-") ~ "-hover-bg" }}{% endif %}
          {%- if style.hover_border_color && style.hover_border_color != "default"  %}{%- if style.border_color == "no" %} border-thin border-solid{% endif %} {{ style.hover_border_color|replace("_", "-") ~ "-hover-border-color" }}{% endif %}
          {%- if style.background_color == "no" && style.hover_background_color == "no" && style.border_color == "no" && style.hover_border_color == "no" %} ps-0 pe-0{% endif %}">
  {{ content.text }} {% if content.show_arrow == 'true' %}<svg class="{{ extraClasses is containing "button--arrow-left" ? 'me-2' : 'ms-2' }} w-7 h-7" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="14" fill="currentColor"/><path d="M14.6999 9.09998L20.2999 14.35M20.2999 14.35L14.6999 19.6M20.2999 14.35H8.3999" stroke="white" stroke-width="1.5"/></svg>{% endif %}
</a>
{% endmacro %}


{% macro createButtonAnchorHTML(content, style, extraClasses) %}
{% set href = '#' ~ content.anchor_target %}
<a href="{% if href %}{{ href }}{% else %}javascript:;{% endif %}"
   {%- if content.url.open_in_new_tab %} target="_blank"{% endif -%}
   {%- if content.url.rel %} rel="{{ content.url.rel }}"{% endif %}
   class="button{{ style.make_button_small ? ' button--small' : '' }} {{ extraClasses ? ' ' ~ extraClasses : '' }} d-inline-flex align-items-xs-center justify-content-xs-center
          {%- if style.color && style.color != "default" %} {{ style.color|replace("_", "-") ~ "-color" }} {%- if content.show_arrow == 'true' %} {{ style.color|replace("_", "-") ~ "-fill" }}{% endif %}{% endif %}
          {%- if style.hover_color && style.hover_color != "default"  %} {{ style.hover_color|replace("_", "-") ~ "-hover-color" }} {%- if content.show_arrow == 'true' %} second-hover-fill{% endif %}{% endif %}
          {%- if style.background_color && style.background_color != "default"  %} {{ style.background_color|replace("_", "-") ~ "-bg" }}{% endif %}
          {%- if style.border_color && style.border_color != "default"  %} border-thin border-solid {{ style.border_color|replace("_", "-") ~ "-border-color" }}{% endif %}
          {%- if style.hover_background_color && style.hover_background_color != "default"  %} {{ style.hover_background_color|replace("_", "-") ~ "-hover-bg" }}{% endif %}
          {%- if style.hover_border_color && style.hover_border_color != "default"  %}{%- if style.border_color == "no" %} border-thin border-solid{% endif %} {{ style.hover_border_color|replace("_", "-") ~ "-hover-border-color" }}{% endif %}
          {%- if style.background_color == "no" && style.hover_background_color == "no" && style.border_color == "no" && style.hover_border_color == "no" %} ps-0 pe-0{% endif %}">
  {{ content.text }} {% if content.show_arrow == 'true' %}<svg class="{{ extraClasses is containing "button--arrow-left" ? 'me-2' : 'ms-2' }} w-7 h-7" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="14" fill="currentColor"/><path d="M14.6999 9.09998L20.2999 14.35M20.2999 14.35L14.6999 19.6M20.2999 14.35H8.3999" stroke="white" stroke-width="1.5"/></svg>{% endif %}
</a>
{% endmacro %}
