{% import '../../../assets/macros/_buttons.html' %}
{% import '../../../assets/macros/_hubdb.html' %}
{% import '../../../assets/macros/_style.html' %}

{% set contents = hubdb_table_rows(module.hubdbtable_field, module.posts_to_show) %}

<div class="related-realisation-posts dnd-row {{ generateModuleClasses(module.style) }} {{ module.style.background_color|replace("_", "-") ~ '-bg' }}{% if module.style.animate_module %} animation{% endif %}"
     {{ getModuleAnimations(module.style) }}>
  <div class="row-fluid">
    <div class="span12 columns dnd-column">
      <div class="dnd-row">
        <div class="row-fluid">
          <div class="span3 columns">
            <div class="d-flex flex-flow-row-wrap align-items-center justify-content-center justify-content-md-space-between gap-2">
              <div class="description">
                {{ module.description
                |replace("<h1", "<h1 class='mb-md-0'")
                |replace("<h2", "<h2 class='mb-md-0'")
                |replace("<h3", "<h3 class='mb-md-0'") 
                |replace("<h4", "<h4 class='mb-md-0'") 
                |replace("<h5", "<h5 class='mb-md-0'") 
                |replace("<h6", "<h6 class='mb-md-0'") 
              }}
              </div>
              {% if module.add_read_more  %}
              <div class="buttons-container mt-2 d-flex justify-content-xs-center justify-content-md-flex-end">
                {% if module.button.type == "cta" %}
                {% cta guid="{{ item.cta_field }}" %}
                {% endif %}

                {% if module.button.type == "button" %}
                {% set style = {
                  'color': module.style.button.color|replace("_", "-"),
                  'hover_color': module.style.button.hover_color|replace("_", "-"),
                  'background_color': module.style.button.background_color|replace("_", "-"),
                  'hover_background_color': module.style.button.hover_background_color|replace("_", "-"),
                  'border_color': module.style.button.border_color|replace("_", "-"),
                  'hover_border_color': module.style.button.hover_border_color|replace("_", "-"),
                  'make_button_small': module.style.button.make_button_small
                } %}

                {{ createButtonHTML(module.button, style) }}
                {% endif %}
              </div>
              {% endif %}
            </div>
          </div>
          <div class="span9 columns">
            {{ createHubDBRealisationPost(contents, module) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% require_css %}
<style>
.filter-default-bg,
button.filter-default-bg,
.button.filter-default-bg,
form input[type="submit"].filter-default-bg,
form .hs-button.filter-default-bg { background-color: {{ module.style.filter_color.css }}; }
  
.filter-default-hover-bg:hover,
button.filter-default-hover-bg:hover,
.button.filter-default-hover-bg:hover,
form input[type="submit"].filter-default-hover-bg:hover,
form .hs-button.filter-default-hover-bg:hover { background-color: {{ module.style.hover_filter_color.css }}; }
</style>
{% end_require_css %}