<!--
templateType: page
isAvailableForNewContent: true
label: Contact
-->

{% extends "../../assets/layouts/base.html" %}

{% set widget_data = {
  "page_settings": {
      'transparent_header': True,
      'use_lead_capture_header': False,
      'use_lead_capture_footer': False,
      'force_full_height': False,
  }
} %}

{% block body %}
{% dnd_area "contact" label="Contact" class="contact" %}

<!-- Begin hero section -->
{% include_dnd_partial 
  path='../sections/hero-faq-section.html'
  context={
    'section': {
      'class': 'splashscreen-md splashscreen-lg splashscreen-xl',
      'background_image': {
        'backgroundSize': 'COVER',
        'backgroundPosition': 'MIDDLE_CENTER',
        'imageUrl': get_asset_url('../../assets/images/visuals/hero-contact.jpg')
      },
      'padding': { 'bottom': 0 }
    },
    'faq': {
      'title': 'Les questions fréquentes',
      'links': [
        {
          'link_type' : 'link',
          'link_text': "Vous changez d'adresse ?",
          'link_field': {
             "url": { "href": "https://voenergies.com" }
          }         
        },
        {
          'link_type' : 'link',
          'link_text': "Vous souhaitez souscrire à VOnature gaz ?",
          'link_field': {
             "url": { "href": "https://voenergies.com" }
          }       
        },
        {
          'link_type' : 'link',
          'link_text': "Vous souhaitez souscrire à VOnature électricité ?",
          'link_field': {
             "url": { "href": "https://voenergies.com" }
          }       
        },
        {
          'link_type' : 'anchor',
          'link_text': "Dépannage et permanence",
          'section_to_reach': 'hs_cos_wrapper_contact-dnd_partial-4-module-6'
        }
      ]
    },
    'text': {
      'content': '<h1 style="color: {{ theme.colors.white.color }};">Pour nous <span style="color: {{ theme.colors.third.color }};">contacter</span></h1><p style="color: {{ theme.colors.white.color }};">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. </p>',
      'style': {
        'animate_module': False,
        'animation_settings': {
          'bind_animation_to_scroll': false,
          'trigger_animation_by_character': true,
          'animation_properties': ['opacity', 'translate-y'],
          'animation_easing': 'easeInOutSine',
          'animation_duration': 250,
          'animation_delay': 25,
          'opacity_settings': {'start_value': 0, 'end_value': 1 },
          'translatey_settings': {'start_value': -50, 'end_value': 0 },
        },
        'xs': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'center',
          'h1_display': 'title-hero-2'
        },
        'md': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'left',
          'h1_display': 'title-hero-2'
        },
        'xl': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'left',
          'h1_display': 'title-hero-2'
        }
      }
    },
  }
%}
<!-- End hero section -->

{% include_dnd_partial 
  path='../sections/text-form-section.html'
  context= {
    'form': {
      'form' : {
        'form_id': 'a26a12aa-5f07-44ee-b772-b8144432a0da'
      },
      'style': {
        'submit_button_center': True,
      }
    }
  }
%}

{% include_dnd_partial 
  path='../sections/adresses-section.html'
  context={
    'section': {
      'background_color': '#D0D0CE40',
    },
  }
%}

<!--  Begin text section -->
{% include_dnd_partial 
  path='../sections/cta-section.html'
  context={
    'section': {
      'background_color': theme.colors.second.color
    },
    'text': {
      'content': '<p style="color: {{ theme.colors.white.color }};">Dépannage et permanence</p>',
      'style': {
        'animate_module': False,
        'animation_settings': {
          'bind_animation_to_scroll': True,
          'animation_properties': ['opacity', 'translate-y'],
          'animation_easing': 'easeInOutSine',
          'animation_duration': 500,
          'animation_delta': 500,
          'opacity_settings': {'start_value': 0, 'end_value': 1 },
          'translatey_settings': {'start_value': 100, 'end_value': 0 },
        },
        'xs': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'center',
          'body_display': 'h1'
        },
        'md': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'center',
          'body_display': 'h1'
        },
        'xl': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'center',
          'body_display': 'h1'
        }
      }
    },
    "buttons": {
      'button' : [
        {
          "type": 'button',
          "text": "058 234 20 00", 
          "color": "second",
          "hover_color": "second",
          "background_color": "white",
          "hover_background_color": "white",
          "border_color": "white",
          "hover_border_color": "white",
          "show_arrow": False
        }
      ],
      'style': {
        'animate_module': False,
        'animation_settings': {
          'bind_animation_to_scroll': True,
          'animation_properties': ['opacity', 'translate-y'],
          'animation_easing': 'easeInOutSine',
          'animation_duration': 500,
          'animation_delta': 500,
          'opacity_settings': {'start_value': 0, 'end_value': 1 },
          'translatey_settings': {'start_value': 100, 'end_value': 0 },
        },
        'xs': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
            },
          'text_alignment': 'center',
          'horizontal_alignment': 'justify-content-xs-center'        
          },
          'md': {
            'spacing': {
              'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
              'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
            },
            'text_alignment': 'center',
            'horizontal_alignment': 'justify-content-md-center'        
          },
          'xl': {
            'spacing': {
              'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
              'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
            },
          'text_alignment': 'center',
          'horizontal_alignment': 'justify-content-xl-center'
        }
      }
    },
    'background_items': {
      'background_item' : [
        {
          'image_field': { "src": get_asset_url('../../assets/images/visuals/bg-items/rosace-multimedia-2.svg') },
          "background_item_position": [
            {
              "resolution": "xs",
              "width": 100,
              "width_unit": "%",
              "height": 100,
              "height_unit": "%",
              "vertical_position": 20,
              "set_vertical_position_from_bottom": False,
              "horizontal_position": 40,
              "object_fit": "contain",
              "object_position": "bottom_center",
              "horizontal_translation": 0,
              "vertical_translation": 0
            },
            {
              "resolution": "md",
              "width": 100,
              "width_unit": "%",
              "height": 100,
              "height_unit": "%",
              "vertical_position": 20,
              "set_vertical_position_from_bottom": False,
              "horizontal_position": 45,
              "object_fit": "contain",
              "object_position": "bottom_center",
              "horizontal_translation": 0,
              "vertical_translation": 0
            },
            {
              "resolution": "xl",
              "width": 100,
              "width_unit": "%",
              "height": 100,
              "height_unit": "%",
              "vertical_position": 20,
              "set_vertical_position_from_bottom": False,
              "horizontal_position": 45,
              "object_fit": "contain",
              "object_position": "bottom_center",
              "horizontal_translation": 0,
              "vertical_translation": 0
            }
          ]
        }
      ], 
    }
  }
%}
<!-- End text section -->
{% end_dnd_area %}

{% endblock body %}