<!--
templateType: page
isAvailableForNewContent: true
label: Projet
-->

{% extends "../../assets/layouts/base.html" %}

{% set widget_data = {
  "page_settings": {
      'transparent_header': False,
      'use_lead_capture_header': False,
      'use_lead_capture_footer': False,
      'force_full_height': False,
      'change_header_background': True,
      'header_background_color': "white",
      'make_header_always_visible': True,
      'change_footer_background': True,
      'footer_background_color': "first",
      "make_footer_small": True,
      "show_alert_banner": True
  }
} %}

{% block header %}
{% if widget_data.page_settings.show_alert_banner %}
{% global_partial path='../../partials/alert-banner.html' no_wrapper=True %}
{% endif %}
{% global_partial path='../../partials/header-projet.html' no_wrapper=True %}
{% endblock header %}

{% block body %}
{% dnd_area "projet" label="Projet" class="projet" %}

<!-- Begin text/image section -->
{% include_dnd_partial 
  path='../sections/text-image-right-cta-no-spacer-section.html'
  context={
    'text': {
      'content': '<h2 style="color: {{ theme.colors.first.color }};">Tagline du projet <span style="color: {{ theme.colors.second.color }};">100% renouvelable</span></h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>',
      'style': {
        'animate_module': False,
        'animation_settings': {
          'bind_animation_to_scroll': True,
          'animation_properties': ['opacity', 'translate-y'],
          'animation_easing': 'easeInOutSine',
          'animation_duration': 500,
          'animation_delta': 500,
          'opacity_settings': {'start_value': 0, 'end_value': 1 },
          'translatey_settings': {'start_value': 100, 'end_value': 0 },
        },
        'xs': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'center'
        },
        'md': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'left'
        },
        'xl': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'left'
        }
      }
    },
    'image': {
      'image_field' : { 
        'src' : get_asset_url('../../assets/images/visuals/besoins-5.png')
      },
      'image_column_width': 12,
      'add_background_shape' : True, 
      'shape_column_width': 6,
      'background_shape' : {
        'src' : get_asset_url('../../assets/images/visuals/bg-items/roue-feuille.svg')
      },
      'make_image_first_on_mobile': True,
      'make_image_take_full_height_of_its_container': False, 
      'style': {
        'animate_module': False,
        'animation_settings': {
          'bind_animation_to_scroll': True,
          'animation_properties': ['opacity', 'translate-y'],
          'animation_easing': 'easeInOutSine',
          'animation_duration': 500,
          'animation_delta': 0.5,
          'opacity_settings': {'start_value': 0, 'end_value': 1 },
          'translatey_settings': {'start_value': 100, 'end_value': 0 },
        },
        'background_shape': {
          'animate_module': True,
          'animation_settings': {
            'bind_animation_to_scroll': True,
            'animation_properties': ['rotate'],
            'animation_easing': 'easeInOutSine',
            'animation_duration': 500,
            'animation_delta': 0.5,
            'rotate_settings': {'start_value': 0, 'end_value': 360 },
          }
        },
        'xs': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'image_format': 'square',
          'image_border_radius': 'no-rounded',
          'background_shape_position': 'b-0 s-0',
          'background_shape_translation': 'translate-t-c',
        },
        'md': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'image_format': 'square',
          'image_border_radius': 'no-rounded',
          'background_shape_position': 'b-md-0 s-md-0',
          'background_shape_translation': 'translate-md-t-c',
        },
        'xl': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'image_format': 'square',
          'image_border_radius': 'no-rounded',
          'background_shape_position': 'b-xl-0 s-xl-0',
          'background_shape_translation': 'translate-xl-t-c',
        }
      }
    },
    "buttons": {
      'button' : [
        {
          "type": 'button',
          "text": "découvrez le projet", 
          "color": "first",
          "hover_color": "white",
          "background_color": "no",
          "hover_background_color": "first",
          "border_color": "first",
          "hover_border_color": "first",
          "show_arrow": False
        }
      ],
      'style': {
        'animate_module': False,
        'animation_settings': {
          'bind_animation_to_scroll': True,
          'animation_properties': ['opacity', 'translate-y'],
          'animation_easing': 'easeInOutSine',
          'animation_duration': 500,
          'animation_delta': 500,
          'opacity_settings': {'start_value': 0, 'end_value': 1 },
          'translatey_settings': {'start_value': 100, 'end_value': 0 },
        },
        'background_shape': {
          'animate_module': True,
          'animation_settings': {
            'bind_animation_to_scroll': True,
            'animation_properties': ['rotate'],
            'animation_easing': 'easeInOutSine',
            'animation_duration': 500,
            'animation_delta': 0.5,
            'rotate_settings': {'start_value': 0, 'end_value': 360 },
          }
        },
        'xs': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
            },
          'text_alignment': 'center',
          'horizontal_alignment': 'justify-content-xs-center'      
          },
          'md': {
            'spacing': {
              'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
              'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
            },
            'text_alignment': 'center',
            'horizontal_alignment': 'justify-content-md-flex-start'        
          },
          'xl': {
            'spacing': {
              'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
              'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
            },
          'text_alignment': 'center',
          'horizontal_alignment': 'justify-content-xl-flex-start'
        }
      }
    }
  }
%}
<!-- End text/image section -->

<!-- Begin image/text section -->
{% include_dnd_partial 
  path='../sections/text-image-left-section.html'
  context={
    'section': {
     'padding': {
        "top": "140px"
      },   
    },
    'text_block_width' : 4,
    'image_block_width' : 6,
    'image_block_offset' : 0,
    'text': {
      'content': '<h2 style="color: {{ theme.colors.first.color }};">Découvrez le projet</h2><h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4><p>L’efficience énergétique est notre priorité. Qu’est ce que c’est ? Une combinaison de performance de distribution et d’économie des ressources énergétiques. Nous sommes convaincus qu’une prise en compte des challenges écologiques et de la transition énergétique sont la meilleure réponse à apporter à nos clients ainsi qu’aux générations futures.</p>',
      'style': {
        'animate_module': False,
        'animation_settings': {
          'bind_animation_to_scroll': True,
          'animation_properties': ['opacity', 'translate-y'],
          'animation_easing': 'easeInOutSine',
          'animation_duration': 500,
          'animation_delta': 500,
          'opacity_settings': {'start_value': 0, 'end_value': 1 },
          'translatey_settings': {'start_value': 100, 'end_value': 0 },
        },
        'xs': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'center'
        },
        'md': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'left'
        },
        'xl': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'left'
        }
      }
    },
    'image': {
      'image_field' : { 
        'src' : get_asset_url('../../assets/images/visuals/projet-1.jpg')
      },
      'add_background_shape' : True,
      'shape_column_width': 8,
      'background_shape' : {
        'src' : get_asset_url('../../assets/images/visuals/bg-items/rosace-carrieres.svg'),
        'push_background_shape_behind': False,
      },
      'add_legend': False, 
      'make_image_first_on_mobile': True,
      'make_image_take_full_height_of_its_container': False, 
      'style': {
        'animate_module': True,
        'animation_settings': {
          'bind_animation_to_scroll': True,
          'animation_properties': ['opacity', 'translate-y'],
          'animation_easing': 'easeInOutSine',
          'animation_duration': 500,
          'animation_delta': 500,
          'opacity_settings': {'start_value': 0, 'end_value': 1 },
          'translatey_settings': {'start_value': 100, 'end_value': 0 },
        },
        'background_shape': {
          'animate_module': True,
          'animation_settings': {
            'bind_animation_to_scroll': True,
            'animation_properties': ['rotate'],
            'animation_easing': 'easeInOutSine',
            'animation_duration': 500,
            'animation_delta': 0.5,
            'rotate_settings': {'start_value': 360, 'end_value': 0 },
          }
        },
        'xs': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'image_format': 'four-three',
          'image_border_radius': 'no-rounded',
          'background_shape_position': 't-0 s-0',
          'background_shape_translation': 'translate-xs-c-c'
        },
        'md': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'image_format': 'four-three',
          'image_border_radius': 'no-rounded',
          'background_shape_position': 't-md-0 s-md-0',
          'background_shape_translation': 'translate-md-c-c'
        },
        'xl': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'image_format': 'four-three',
          'image_border_radius': 'no-rounded',
          'background_shape_position': 't-xl-0 s-xl-0',
          'background_shape_translation': 'translate-xl-c-c'
        }
      }
    }
  }
%}
<!-- End text/image section -->

{% include_dnd_partial 
  path='../sections/auto-anchor-section.html'
  context={
    'section': {
      'name_in_menu': 'Le projet'
    }
  }
%}

<!-- Begin text/3 columns section -->
{% include_dnd_partial 
  path='../sections/text-features-section.html'
  context={
    'section': {
      'background_color': '#D0D0CE40',
    },
    'text': {
      'content': '<h2 style="color: {{ theme.colors.first.color }};">Lorem ipsum dolor sit amet</h2><p class="display-xs-h4 display-md-h4 display-xl-h4"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</b></p>'
    },
    'features_title_color': theme.colors.black.color,
    'features': {
      'feature': [
        {
          "visual_type": "image", 
          'feature_title': 'dolore magna aliqua',
          'feature_text': '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>',
          'show_button': False
        },
        {
          "visual_type": "image", 
          'feature_title': 'dolore magna aliqua',
          'feature_text': '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>',
          'show_button': False
        },
        {
          "visual_type": "image", 
          'feature_title': 'dolore magna aliqua',
          'feature_text': '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>',
          'show_button': False
        }
      ]
    }
  }
%}
<!-- End text/3 columns section -->


<!-- Begin project/key numbers section -->
{% include_dnd_partial 
  path='../sections/key-numbers-section.html'
  context={ 
    'numbers_column_width': 12,
    'section': {
      'background_color': theme.colors.fourth.color
    },
    'numbers': {
      'text': '<h2 style="color: {{ theme.colors.white.color }};">Le projet, en quelques chiffres</h2>',
      'add_button': False,
      'extra_classes': ' ',
      'style':
      {
        'numbers_color': 'white',
        'animate_module': False,
        'module_animation': {
          'animate_module_scale': False,
          'animate_module_vertical_translation': False,
          'animate_module_skew': True,
          'animate_module_opacity': True
        },
        'xs': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'center'
        },
        'md': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'center'
        },
        'xl': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'center'
        }
      }
    },
    'background_items': {
      'background_item' : [
        {
          'image_field': { "src": get_asset_url('../../assets/images/visuals/bg-items/rosace-projet.svg') },
          "background_item_position": [
            {
              "resolution": "xs",
              "width": 100,
              "width_unit": "%",
              "height": 20,
              "height_unit": "%",
              "vertical_position": 2,
              "set_vertical_position_from_bottom": True,
              "horizontal_position": 40,
              "object_fit": "contain",
              "object_position": "top_center",
              "horizontal_translation": 0,
              "vertical_translation": 0
            },
            {
              "resolution": "md",
              "width": 100,
              "width_unit": "%",
              "height": 80,
              "height_unit": "%",
              "vertical_position": 5,
              "set_vertical_position_from_bottom": True,
              "horizontal_position": 35,
              "object_fit": "contain",
              "object_position": "center_center",
              "horizontal_translation": 0,
              "vertical_translation": 0
            },
            {
              "resolution": "xl",
              "width": 100,
              "width_unit": "%",
              "height": 90,
              "height_unit": "%",
              "vertical_position": 20,
              "set_vertical_position_from_bottom": False,
              "horizontal_position": 30,
              "object_fit": "contain",
              "object_position": "center_center",
              "horizontal_translation": 15,
              "vertical_translation": 0
            }
          ]
        }
      ], 
    }
  }
%}
<!-- End project/key numbers section -->

{% include_dnd_partial 
  path='../sections/auto-anchor-section.html'
  context={
    'section': {
      'name_in_menu': 'La planification'
    }
  }
%}

<!-- Begin timeline section -->
{% include_dnd_partial 
  path='../sections/timeline-section.html'
%}
<!-- End timeline section -->


{% include_dnd_partial 
  path='../sections/auto-anchor-section.html'
  context={
    'section': {
      'name_in_menu': 'Pourquoi ce choix ?'
    }
  }
%}

<!-- Begin project/faq section -->
{% include_dnd_partial 
  path='../sections/projet-faq-section.html' 
  context={
    section:{
      'background_color': '#D0D0CE40'
    },
    'text': {
      'content': '<h2 style="color: {{ theme.colors.first.color }};">Pourquoi ce choix ?</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>',
      'style': {
        'animate_module': False,
        'module_animation': {
          'animate_module_scale': False,
          'animate_module_vertical_translation': False,
          'animate_module_skew': True,
          'animate_module_opacity': True
        },
        'xs': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'center'
        },
        'md': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'left'
        },
        'xl': {
          'spacing': {
            'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
            'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
          },
          'text_alignment': 'left'
        }
      }
    },
    "image": {
      'style':{
       'xs': {
            'spacing': {
              'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
              'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
            },
            'image_format': 'square',
            'image_border_radius': 'no-rounded',
            'background_shape_position': 't-0 s-0',
            'background_shape_translation': 'translate-md-t-s'
          },
          'md': {
            'spacing': {
              'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
              'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
            },
            'image_format': 'square',
            'image_border_radius': 'no-rounded',
            'background_shape_position': 't-0 s-0',
            'background_shape_translation': 'translate-md-t-s'
          },
          'xl': {
            'spacing': {
              'margin': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' } },
              'padding': { 'top': { 'value': 0, 'units': 'px' }, 'bottom': { 'value': 0, 'units': 'px' }, 'left': { 'value': 0,  'units': 'px' }, 'right': { 'value': 0, 'units': 'px' } }
            },
            'image_format': 'square',
            'image_border_radius': 'no-rounded',
            'background_shape_position': 't-0 s-0',
            'background_shape_translation': 'translate-md-t-s'
          }
        }
      }
    }
    "accordion": {
      "accordion_item": [
        {
          "accordion_title": "Excepteur sint occaecat cupidatat non proident",
          "accordion_text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>"
        },
        {
          "accordion_title": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem",
          "accordion_text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>"
        },
        {
          "accordion_title": "Ut enim ad minima veniam, quis nostrum exercitationem",
          "accordion_text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>"
        },
        {
          "accordion_title": "Duis aute irure dolor",
          "accordion_text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>"
        }
      ]
    }
  }
%}
<!-- End project/faq section -->

{% include_dnd_partial 
    path='../sections/recent-realisations-section.html'
%}

{% end_dnd_area %}


{% global_partial path="../../partials/newsletter.html" no_wrapper=True %}

{% endblock body %}

{% block footer %}
{% global_partial path="../../partials/footer-projet.html" no_wrapper=True %}
{% endblock footer %}