.hs-menu-wrapper > ul {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.hs-menu-toggle {
	width: 24px;
	height: 24px;
	cursor: pointer
}

.hs-menu-toggle span {
	width: 100%;
	height: 2px;
	background-color: {{ theme.menu.links.color }};
	border-radius: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition:
		opacity 250ms ease-in-out,
		background-color 250ms ease-in-out,
		transform 250ms ease-in-out;
}

.hs-menu-toggle span:first-child {
	top: 25%;
}

.hs-menu-toggle span:last-child {
	top: 75%;
}

.header .dnd-section > .row-fluid.hs-menu-open .hs-menu-toggle span:not(:first-child):not(:last-child) {
	opacity: 0;
	pointer-events: none;
}

.header .dnd-section > .row-fluid.hs-menu-open .hs-menu-toggle span:first-child {
	top: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
}

.header .dnd-section > .row-fluid.hs-menu-open .hs-menu-toggle span:last-child {
	top: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
}

.hs-menu-wrapper.hs-menu-flow-horizontal > ul {
	flex-flow: row wrap;
}

.hs-menu-wrapper ul > li.hs-item-has-children {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.hs-menu-wrapper .hs-menu-children-toggle {
	position: relative;
	width: {{ theme.layout.spacing_base * 4 ~ "px" }};
	height: {{ theme.layout.spacing_base * 4 ~ "px" }};
	cursor: pointer;
	z-index: 5;
}

.hs-breadcrumb-menu .hs-breadcrumb-menu-item a[href*="javascript"] {
	pointer-events: none;
}

.hs-breadcrumb-menu .hs-breadcrumb-menu-item a {
	font-weight: 300;
}

.hs-menu-wrapper ul > li.hs-item-has-children > a > .hs-menu-children-toggle,
.hs-menu-wrapper ul > li.hs-item-has-children > .hs-menu-item-link > .hs-menu-children-toggle {
	transform: rotate(0);
	transition: transform 0.25s ease-in-out;
}

.hs-menu-wrapper ul > li.hs-item-has-children:hover > a > .hs-menu-children-toggle,
.hs-menu-wrapper ul > li.hs-item-has-children:hover > .hs-menu-item-link > .hs-menu-children-toggle {
	transform: rotate(180deg);
}

.hs-menu-wrapper .hs-item-has-children.open > .hs-menu-children-wrapper, 
.hs-menu-wrapper .hs-item-has-children.open:active > .hs-menu-children-wrapper {
	max-height: 100%;
}

.hs-menu-wrapper ul li a,
.hs-menu-wrapper ul li .hs-menu-item-link {
	display: block;
	color: {{ theme.menu.links.color }};
	font-size: {{ theme.menu.links.xs.font_size ~ 'px' }};
	line-height: {{ theme.menu.links.xs.line_height ~ 'px' }};
	{{ theme.menu.links.xs.spacing.css }}
}

.hs-menu-wrapper ul li span {
	cursor: default;
}

.hs-menu-wrapper ul li a:hover,
.hs-menu-wrapper ul li .hs-menu-item-link:hover {
	color: {{ theme.menu.links.hover_color }};
}

.hs-menu-wrapper ul li a:active {
	color: {{ theme.menu.links.hover_color }};
}

.hs-menu-wrapper ul.hs-menu-children-wrapper li a, 
.hs-menu-wrapper ul.hs-menu-children-wrapper li .hs-menu-item-link {
	color: {{ theme.menu.dropdowns.links.color }};
}

.hs-menu-wrapper ul.hs-menu-children-wrapper li a:hover,
.hs-menu-wrapper ul.hs-menu-children-wrapper li .hs-menu-item-link:hover {
	color: {{ theme.menu.dropdowns.links.hover_color }};
}

.hs-menu-wrapper ul.hs-menu-children-wrapper {
	background-color: {{ theme.menu.dropdowns.background_color }};
}

.hs-menu-wrapper ul.hs-menu-children-wrapper li a, 
.hs-menu-wrapper ul.hs-menu-children-wrapper li .hs-menu-item-link {
	font-size: {{ theme.menu.dropdowns.links.xs.font_size ~ 'px' }};
	line-height: {{ theme.menu.dropdowns.links.xs.line_height ~ 'px' }};
	{{ theme.menu.dropdowns.links.xs.spacing.css }}
}

.hs-menu-wrapper .hs-item-has-children > .hs-menu-children-wrapper,
.hs-menu-wrapper .hs-item-has-children:active > .hs-menu-children-wrapper {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.25s ease-in-out;
}

.hs-menu-wrapper > ul > li.hs-item-has-children {
	position: relative;
	z-index: 1;
}

.hs-menu-wrapper .hs-menu-children-wrapper li a,
.hs-menu-wrapper .hs-menu-children-wrapper li .hs-menu-item-link {
	color: {{ theme.menu.dropdowns.links.color }};
	transition: color 0.25s ease-in-out;
}

.hs-menu-wrapper .hs-menu-children-wrapper li a:hover,
.hs-menu-wrapper .hs-menu-children-wrapper li .hs-menu-item-link:hover {
	color: {{ theme.menu.dropdowns.links.hover_color }};
}

.hs-menu-wrapper .hs-item-has-children > .hs-menu-children-wrapper::-webkit-scrollbar {
	display: none;
}

@media (max-width: {{ (theme.layout.md.breakpoint - 1) ~ 'px' }}) {
	.hs-menu-wrapper .hs-menu-children-toggle:before,
	.hs-menu-wrapper .hs-menu-children-toggle:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: {{ theme.layout.spacing_base / 2 ~ "px" }};
		height: 100%;
		border-radius: {{ theme.layout.spacing_base / 2 ~ "px" }};
		transform: translate(-50%, -50%);
		background-color: {{ theme.menu.links.color }};
		transition: background-color 0.25s ease-in-out;
	}

	.hs-menu-wrapper .hs-menu-children-toggle:after {
		height: {{ theme.layout.spacing_base / 2 ~ "px" }};
		width: 100%;
	}

	.hs-menu-wrapper .hs-menu-children-toggle:hover:before,
	.hs-menu-wrapper .hs-menu-children-toggle:hover:after, 
	.hs-menu-wrapper .hs-item-has-children.open > a > .hs-menu-children-toggle:before,
	.hs-menu-wrapper .hs-item-has-children.open > a >  .hs-menu-children-toggle:after {
		background-color: {{ theme.menu.links.hover_color }};
	}

	.hs-menu-wrapper ul > li.hs-item-has-children.open > a > .hs-menu-children-toggle,
	.hs-menu-wrapper ul > li.hs-item-has-children.open > .hs-menu-item-link > .hs-menu-children-toggle {
		transform: rotate(45deg);
	}

	.menu__small .hs-menu-wrapper ul li a,
	.menu__small .hs-menu-wrapper ul li .hs-menu-item-link {
		font-size: {{ theme.menu.links.xs.font_size * 0.9 ~ 'px' }};
	}

	.menu__small .hs-menu-wrapper ul.hs-menu-children-wrapper li a, 
	.menu__small .hs-menu-wrapper ul.hs-menu-children-wrapper li .hs-menu-item-link {
		font-size: {{ theme.menu.dropdowns.links.xs.font_size * 0.9 ~ 'px' }};
	}

	.megamenu-tabs.dnd-section > .row-fluid {
		margin-left: -20px;
		margin-right: -20px;
		width: auto;
		max-width: initial;
	}

	.megamenu-tabs .megamenu-sublinks {
		max-height: 0;
	}

	.megamenu-tabs .open > .megamenu-tabs__content {
		display: block;
	}
}

@media (min-width: {{ theme.layout.md.breakpoint ~ 'px' }}) {
	.hs-menu-wrapper > ul > .hs-item-has-children > .hs-menu-children-wrapper {
		border-radius: {{ theme.layout.spacing_base * 2 ~ "px" }};
	}

	.hs-menu-wrapper ul li a,
	.hs-menu-wrapper ul li .hs-menu-item-link {
		font-size: {{ theme.menu.links.md.font_size ~ 'px' }};
		line-height: {{ theme.menu.links.md.line_height ~ 'px' }};
		{{ theme.menu.links.md.spacing.css }}
	}

	.hs-menu-wrapper .hs-menu-children-wrapper > li:not(:first-child) > a, 
	.hs-menu-wrapper .hs-menu-children-wrapper > li:not(:first-child) > .hs-menu-item-link {
		padding-top: 0;
	}

	.hs-menu-wrapper ul > li.hs-item-has-children > a > .hs-menu-children-toggle:before,
	.hs-menu-wrapper ul > li.hs-item-has-children > .hs-menu-item-link > .hs-menu-children-toggle:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0;
		height: 0;
		border-top: {{ theme.layout.spacing_base / 1.25 ~ "px" }} solid currentColor;
		border-right: {{ theme.layout.spacing_base / 1.25 ~ "px" }} solid transparent;
		border-left: {{ theme.layout.spacing_base / 1.25 ~ "px" }} solid transparent;
	}

	.hs-menu-wrapper ul > li.hs-item-has-children:hover > a > .hs-menu-children-toggle:before,
	.hs-menu-wrapper ul > li.hs-item-has-children:hover > .hs-menu-item-link > .hs-menu-children-toggle:before {
		border-top: {{ theme.layout.spacing_base / 1.25 ~ "px" }} solid currentColor;
	}

	.hs-menu-wrapper .hs-item-has-children:before {
		display: none;
	}

	.hs-menu-wrapper .hs-menu-children-wrapper {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		min-width: {{ theme.layout.spacing_base * 48 ~ "px" }};
		border-radius: {{ theme.layout.spacing_base * 2 ~ "px" }};
		max-height: 0;    
		overflow: initial;
		opacity: 0;    
		pointer-events: none;
		box-shadow: 0 {{ theme.layout.spacing_base * 2 ~ "px" }} {{ theme.layout.spacing_base * 2 ~ "px" }} 0 rgb(0, 0, 0, 0);
		transition: initial;
	}

	.hs-menu-wrapper .hs-item-has-children:hover > .hs-menu-children-wrapper {
		opacity: 1; 
		overflow: initial;
		max-height: initial;
		pointer-events: initial;
		box-shadow: 0 {{ theme.layout.spacing_base * 2 ~ "px" }} {{ theme.layout.spacing_base * 2 ~ "px" }} 0 rgb(0, 0, 0, 0.05);
		transition: opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out, border-radius 0.25s ease-in-out;
	}

	.hs-menu-wrapper .hs-item-has-children:not(.hs-menu-depth-1) > .hs-menu-children-wrapper {
		top: 0%;
		left: 100%;
		transform: translateY(0%);
	}

	.hs-menu-wrapper .hs-item-has-children:hover > a > .hs-menu-children-wrapper,
	.hs-menu-wrapper .hs-item-has-children:active > a > .hs-menu-children-wrapper,
	.hs-menu-wrapper .hs-item-has-children:focus > a > .hs-menu-children-wrapper {
		max-height: 100vh;
		overflow: auto;
		-ms-overflow-style: none; 
		scrollbar-width: none;  
		z-index: 1;
	}


	.hs-menu-wrapper ul.hs-menu-children-wrapper li a, 
	.hs-menu-wrapper ul.hs-menu-children-wrapper li .hs-menu-item-link {
		font-size: {{ theme.menu.dropdowns.links.md.font_size ~ 'px' }};
		line-height: {{ theme.menu.dropdowns.links.md.line_height ~ 'px' }};
		{{ theme.menu.dropdowns.links.md.spacing.css }}
	}

	.menu__small .hs-menu-wrapper ul li a,
	.menu__small .hs-menu-wrapper ul li .hs-menu-item-link {
		font-size: {{ theme.menu.links.md.font_size * 0.8 ~ 'px' }};
	}

	.menu__small .hs-menu-wrapper ul.hs-menu-children-wrapper li a, 
	.menu__small .hs-menu-wrapper ul.hs-menu-children-wrapper li .hs-menu-item-link {
		font-size: {{ theme.menu.dropdowns.links.md.font_size * 0.8 ~ 'px' }};
	}

	.hs-menu-wrapper ul > li.hs-item-has-children .hs-menu-children-wrapper {
		order: 2;
		min-width: 240px;
		width: auto;
	}
}

@media (min-width: {{ theme.layout.xl.breakpoint ~ 'px' }}) {
	.hs-menu-wrapper ul.hs-menu-children-wrapper li a, 
	.hs-menu-wrapper ul.hs-menu-children-wrapper li .hs-menu-item-link {
		font-size: {{ theme.menu.dropdowns.links.xl.font_size ~ 'px' }};
		line-height: {{ theme.menu.dropdowns.links.xl.line_height ~ 'px' }};
		{{ theme.menu.dropdowns.links.xl.spacing.css }}
	}

	.hs-menu-wrapper ul li a,
	.hs-menu-wrapper ul li .hs-menu-item-link {
		font-size: {{ theme.menu.links.xl.font_size ~ 'px' }};
		line-height: {{ theme.menu.links.xl.line_height ~ 'px' }};
		{{ theme.menu.links.xl.spacing.css }}
	}

	.menu__small .hs-menu-wrapper ul li a,
	.menu__small .hs-menu-wrapper ul li .hs-menu-item-link {
		font-size: {{ theme.menu.dropdowns.links.xl.font_size * 0.8 ~ 'px' }};
	}

	.menu__small .hs-menu-wrapper ul.hs-menu-children-wrapper li a, 
	.menu__small .hs-menu-wrapper ul.hs-menu-children-wrapper li .hs-menu-item-link {
		font-size: {{ theme.menu.links.xl.font_size * 0.8 ~ 'px' }};
	}
}

.header .dnd-section > .row-fluid.hs-menu-open {
	align-items: center
}

.hs-breadcrumb-menu .hs-breadcrumb-menu-item a {
	color: {{ theme.colors.gray.color }};
}
.hs-breadcrumb-menu .hs-breadcrumb-menu-item.last-crumb .hs-breadcrumb-label {
	color: {{ theme.colors.white.color }};
}

.hs-breadcrumb-menu .hs-breadcrumb-menu-divider:before{
	content: '→';
	color: {{ theme.colors.gray.color }};
}
